{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO</h1>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Add task</h4>
         <form method="post" class="p-3 shadow">
      {% csrf_token %}
       <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Name of the task">
       </div>
       <div class="form-group">
      <input type="text" name="priority" class="form-control" placeholder="Your priority">
       </div>
               <div class="form-group">
      <input type="date" name="date" class="form-control" placeholder="Your date">
       </div>
      <input type="submit" class="btn btn-success">
</form>
    </div>
    <div class="col-md-6">
        <h4>Task completed</h4>
        {% for i in obj1 %}
        <div class="shadow card">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p><b>{{i.priority}}</b></p>
            <p><b>{{i.date}}</b></p>
            <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
            <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>

</div>
</div>


{% endblock %}
